#barcode{
	display: none;
}

.pages{
	background: url('../images/background/tap-and-grind.png') no-repeat top left;
	/* background: url('../images/background/1c-iPhone.png') no-repeat top left; */
	
	background-size: 100%;
	position: relative;
}

#logoImg{
	margin: 0 auto;
	width: 175px;
	overflow: hidden;
}

#logoImg img{
	height: 200px;
}


.quickFlip{
	height: 100px;
	width: 300px;
	margin: 0 auto;
}

.quickFlipPanel.back{
	height: 100px;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	
	display: none;
}

.quickFlipPanel.front{
	height: 100px;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.quickFlip{
	position: relative;
}


#mainLogo .tableCodeSection{
	position: relative;
	margin-top: 20px;
}

#mainLogo .tableCodeInput, #mainLogo .tableCodeOutput{
	height: 50px;
	
	-webkit-border-radius: 20px 0px 0px 20px;
	-moz-border-radius: 20px 0px 0px 20px;
	border-radius: 20px 0px 0px 20px;
	
	-webkit-box-shadow: 0px 0px 15px 0px #000;
	-moz-box-shadow:  0px 0px 15px 0px #000;
	box-shadow:  0px 0px 15px 0px #000;
	
	width: 60%;
	
	border: 1px solid #404040;
	text-align: center;
	float: left;
	
	font: Bold 1.5em/1 "Arial",Helvetica,Arial,sans-serif;
	
}

#mainLogo .tableCodeOutput{
	color: #404040;
	background: white;
	padding: 20px 10px 0px 10px;
	
	font: Bold 1.6em/1 "Arial",Helvetica,Arial,sans-serif;
	text-shadow: 1px 0px 0px #dedede;
	filter: dropshadow(color=#dedede, offx=1, offy=0);
}

.tableCodeInput.correctCode{
	background: rgb(218,240,170); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZjBhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmQ2ODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(218,240,170,1) 0%, rgba(187,214,128,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,240,170,1)), color-stop(100%,rgba(187,214,128,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(218,240,170,1) 0%,rgba(187,214,128,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(218,240,170,1) 0%,rgba(187,214,128,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(218,240,170,1) 0%,rgba(187,214,128,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(218,240,170,1) 0%,rgba(187,214,128,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf0aa', endColorstr='#bbd680',GradientType=0 ); /* IE6-8 */
	
	color: #fff;
	
	text-shadow: 1px 0px 0px #404040;
	filter: dropshadow(color=#404040, offx=1, offy=0);
}

.tableCodeInput.wrongCode{
	background: rgb(255,163,153); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTM5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzdlN2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,163,153,1) 0%, rgba(252,126,126,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,163,153,1)), color-stop(100%,rgba(252,126,126,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,163,153,1) 0%,rgba(252,126,126,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,163,153,1) 0%,rgba(252,126,126,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,163,153,1) 0%,rgba(252,126,126,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,163,153,1) 0%,rgba(252,126,126,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa399', endColorstr='#fc7e7e',GradientType=0 ); /* IE6-8 */

	color: #fff;
	
	text-shadow: 1px 0px 0px #404040;
	filter: dropshadow(color=#404040, offx=1, offy=0);
}

.tableCodeSection .verifyTableBg{
	width: 30%;
	float: left;
	height: 70px;
	text-indent: -2000px;
	
	
	-webkit-border-radius: 0px 20px 20px 0px;
	-moz-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
	
	
	-webkit-box-shadow: 0px 0px 15px 0px #000;
	-moz-box-shadow:  0px 0px 15px 0px #000;
	box-shadow:  0px 0px 15px 0px #000;
	
	cursor: pointer;
	
	background: rgb(169,3,41); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */


}

.tableCodeSection .verifyTableBg:hover{
	background: rgb(125,126,125); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */

}

.tableCodeSection a{
	display: block;
	width: 100%;
	height: 100%;
	
	background: url("../images/tableCode.png") no-repeat 50% 50%;
	background-size: 50%;
}

.tableCodeSection .tableCheckOut{
	background: url("../images/tableCode-x.png") no-repeat 50% 50%;
	background-size: 50%;

}

.tableCodeSection .tableLoading{
	background: url("../images/ajax-loader-2.gif") no-repeat 50% 50%;
	background-size: 25%;
}

#productDetail-page .productName{
	padding: 10px 15px;
}

#productDetail-page .productImage{
	text-align: center;
	min-height: 100px;
}

#productDetail-page .productImage img{
	width: 100%;
	min-height: 100px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 5px 0px #404040;
	-moz-box-shadow:  0px 0px 5px 0px #404040;
	box-shadow:  0px 0px 5px 0px #404040;
}

.fixedContent{
	height: 325px;
	overflow: scroll;
}

#mainContent{
	position: relative;
}	

#productDetail-page .productDescription{
	min-height: 220px;
}

#productDetail-page .productName{
	padding: 0px;
}

#productDetail-page .productImage{
	position: relative;
}

#productDetail-page .orderButton{
	text-decoration: none;
	font: Bold 2em/1 "Arial",Helvetica,Arial,sans-serif;
	
	background: url("../images/big-cart-icon2.png") 50% 50% no-repeat; 
	background-size: 50%; 
	
	display: block;
	width: 100%;
	height: 100%;
	
	text-indent: -2000px;
}

#productDetail-page .orderButtonBg{
	position: absolute;
	bottom: 5px;
	right: 0px;
	top: 0px;
	width: 30%;
	
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	
	background: rgb(169,3,41); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYTkwMzI5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjOGYwMjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZkMDAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#productDetail-page .orderButtonBg:hover{
	background: rgb(69,72,77); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNDU0ODRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
	

.productDescription p{
	text-indent: 25px;
}

#productDetail-page h2{
	margin-top: -5px;
}

.thankYou-img{
	width: 100%;
}

#mainLogo{
	position: relative;
}

.contactPage{
	background-color: white;
	background: url('../images/square_bg.png') repeat top left #ffffff;
	
	color: #404040;
	
	text-shadow: 1px 0px 0px #dedede;
	filter: dropshadow(color=#dedede, offx=1, offy=0);
}

.contactPage input:focus{
	-webkit-box-shadow: inset 0px 0px 5px 0px #dedede;
	-moz-box-shadow: inset 0px 0px 5px 0px #dedede;
	box-shadow: inset 0px 0px 5px 0px #dedede;
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain{
	margin: 0px !important;
}

.sendFeedback{
	float: right;
}

.ui-field-contain{
	padding-bottom: 5px;
	padding-top: 0px;
	border: none;
}

.staffCallDialog{
	display: none;
	position: absolute;
	top: 6%;
	
	width: 100%;
	background-color: black;
}

.stringselect{
	height: 5em;
	max-height: 5em;
	overflow: scroll;
	
	padding-top: 15px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
	
	background: url("../images/lined_paper.png") repeat;
	background-size: 65%;
	
	/*
	-webkit-box-shadow: 0px 0px 10px 0px #000;
	-moz-box-shadow: 0px 0px 10px 0px #000;
	box-shadow: 0px 0px 10px 0px #000;
	*/
}

/* todo : fix the height of the menu, because its messing up my navigation.. keeps blinking*/
.menuList{
	height: 50%;
}

#billContent{
	padding: 10px;
}

.billSection{
	margin-top: 10px;
}

/* todo : this is the total bill amount inputted by the user */
#totalPriceInput{
	width: 80px;
	margin-top: -9px;
	margin-right: -15px;
	float: right;
	color: #B53737;
}

.billSection2{
	padding: 1em 15px !important;
}

.billSection2 .ui-btn{
	margin-top: -10px;
	margin-right: -5px;
	padding: 0px;
}

.billSection.control{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.billTitle{
	margin-bottom: -15px;
}

.cartItemPrice{
	float: right;
	color: #b53737;
}

.itemOrdered{
	color: #404040;
	padding-top: 10px;
	font: .8em/1 "Arial",Helvetica,Arial,sans-serif;
	
	text-shadow: 1px 0px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=0);
	
	list-style: bullet;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 2em;
}

.menuIcon{
	margin-top: -5px;
}

.ui-selectmenu{
	width: 400px;
}

.nav-glyphish-example .ui-btn .ui-btn-inner { 
	padding-top: 40px !important; 
}

.nav-glyphish-example .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}

#home .ui-icon { 
	background:  url('../glyphish-icons/icons/53-house-white.png') 50% 50% no-repeat; 
	background-size: 24px 22px; 
}

#flag .ui-icon { 
	background:  url('../glyphish-icons/icons/201-flag-white.png') 20% -20% no-repeat; 
	background-size: 24px 22px; 
}

#aboutme .ui-icon { 
	background:  url('../glyphish-icons/icons/48-fork-and-knife-white.png') 50% 50% no-repeat; 
	background-size: 18px 25px;  
}

#links .ui-icon { 
	background:  url('../glyphish-icons/icons/14-tag-white.png') 50% 50% no-repeat;  
	background-size: 21px 26px; 
}

#gallery .ui-icon { 
	background:  url('../glyphish-icons/icons/162-receipt-white.png') 50% 50% no-repeat;  
	background-size: 22px 24px; 
}

#email .ui-icon { 
	background:  url('../glyphish-icons/icons/18-envelope-white.png') 50% 50% no-repeat;  
	background-size: 24px 16px; 
}

#calculator .ui-icon { 
	background:  url('../glyphish-icons/icons/161-calculator-white.png') 50% 50% no-repeat; 
	background-size: 22px 24px; 
}

#cart .ui-icon { 
	background:  url('../glyphish-icons/icons/80-shopping-cart-white.png') 50% 50% no-repeat; 
	background-size: 16px 15px; 
}

#people .ui-icon { 
	background:  url('../glyphish-icons/icons/63-runner.png') 50% 50% no-repeat; 
	background-size: 14px 16px; 
}

#badge .ui-icon { 
	background:  url('../glyphish-icons/icons/108-badge.png') 50% 50% no-repeat; 
	background-size: 15px 18px; 
}

.menuItemNumber{
	display: none !important; 
}


			#dealContent{
				padding: 10px;
			}
			
			.iosSlider {
				background-color: #000000;
				
				min-width: 300px;
				width: 100%;
				max-width: 760px;
				
				margin: 0 auto;
				
				
				
				padding: 0px;
				
				-webkit-box-shadow: 0px 0px 10px 0px #000;
				-moz-box-shadow: 0px 0px 10px 0px #000;
				box-shadow: 0px 0px 10px 0px #000;
				
			}
			
			.iosSlider .slider {
				/*width: 100%;
				height: 100%;*/
			}
			
			.dealPrice{
				display: none !important;
			
				position: absolute;
				top: 40%;
				left: 0px;
				
				text-align: center;
				
				display: table-cell; 
				vertical-align: middle;
				
				padding: 1em;
				
				font: bold 1.5em/1 "Arial",Helvetica,Arial,sans-serif;
				
				-webkit-border-radius: 0px 10px 10px 0px;
				-moz-border-radius: 0px 10px 10px 0px;
				border-radius: 0px 10px 10px 0px;
				
				-webkit-box-shadow: 0px 0px 10px 0px #000;
				-moz-box-shadow: 0px 0px 10px 0px #000;
				box-shadow: 0px 0px 10px 0px #000;
				
				background: rgb(255,214,94); /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
				background: linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-8 */
			}
			
			.iosSlider .slider .item {
				position: relative;
				top: 0;
				left: 0;
				
				height: 20em;
				width: 50em;
				
				background: #000000;
			}
			
			.iosSlider .slider #item1{
				background: url("../images/deals/deal1b.jpg") no-repeat;
			}
			
			.iosSlider .slider #item2{
				background: url("../images/deals/deal2b.jpg") no-repeat;
			}
			
			.iosSlider .slider #item3{
				background: url("../images/deals/deal3b.jpg") no-repeat;
			}
			
			.iosSlider .slider #item4{
				background: url("../images/deals/deal4b.jpg") no-repeat;
			}
			
			.iosSlider .slider .item .text1 {
				position: absolute;
				top: 0px;
				left: 0px;
				
				background: url("../images/bg/bg-transparent-85pect.png") repeat top left;
			}
			
			
			.iosSlider .slider .item .text1{
				color: #fff;
				font: bold 2em/1 "Arial",Helvetica,Arial,sans-serif;
				padding: 5px 10px;
				
				width: 100%;
			}
			
			.iosSlider .slider .item .text2 {
				position: absolute;
				bottom: 0px;
				left: 0px;
				right: 0px;
				
				background: url("../images/bg/bg-transparent-85pect.png") repeat top left;
				
				padding: 10px;
			}
			
			.iosSlider .slider .item .text2{
				color: #fff;
				font: 1em/1 "Arial",Helvetica,Arial,sans-serif;
			}
			
			.iosSliderButtons {
				position: absolute;
				bottom: 10px;
				left: 10px;
				width: 200px;
				height: 10px;
			}
			
			.iosSliderButtons .button {
				float: left;
				width: 9px;
				height: 9px;
				background: #999;
				margin: 0 10px 0 0;
				opacity: 0.25;
				filter: alpha(opacity:25);
				border: 1px solid #000;
			}
			
			.iosSliderButtons .selected {
				background: #000;
				opacity: 1;
				filter: alpha(opacity:100);
			}
			
			.iosSlider .prevButton {
				position: absolute;
				top: 35%;
				left: 0;
				width: 20px;
				height: 40px;
				/*background: url(../images/slider-buttons.png) no-repeat 0 0;*/
				z-index: 2;
				
				opacity: .50;
				filter: alpha(opacity=50);
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				
				padding: .75em;
				
				font: bold 1.5em/1 "Arial",Helvetica,Arial,sans-serif;
				
				-webkit-border-radius: 0px 10px 10px 0px;
				-moz-border-radius: 0px 10px 10px 0px;
				border-radius: 0px 10px 10px 0px;
				
				-webkit-box-shadow: 0px 0px 10px 0px #000;
				-moz-box-shadow: 0px 0px 10px 0px #000;
				box-shadow: 0px 0px 10px 0px #000;
				
				background: rgb(255,214,94); /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
				background: linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-8 */
			}
			
			.iosSlider .nextButton {
				position: absolute;
				top: 35%;
				right: 0;
				width: 20px;
				height: 40px;
				
				/*background: url(../images/slider-buttons.png) no-repeat 100% 0;*/
				
				z-index: 2;
				
				opacity: .50;
				filter: alpha(opacity=50);
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				
				padding: .75em;
				
				font: bold 1.5em/1 "Arial",Helvetica,Arial,sans-serif;
				
				-webkit-border-radius: 10px 0px 0px 10px;
				-moz-border-radius: 10px 0px 0px 10px;
				border-radius: 10px 0px 0px 10px;
				
				-webkit-box-shadow: 0px 0px 10px 0px #000;
				-moz-box-shadow: 0px 0px 10px 0px #000;
				box-shadow: 0px 0px 10px 0px #000;
				
				background: rgb(255,214,94); /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
				background: linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-8 */
			}
			
			.nextButton img, .prevButton img{
				margin-top: -5px;
			}
			
			.nextButton:hover, .prevButton:hover{
				opacity: .90;
				filter: alpha(opacity=90);
			}