

/* ---------------------------------------=Begin Reset
----------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------------=Clearfix-----*/

/* For modern browsers */
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}
/* -----------------------------------------=Html/Body-----*/

html {
	font-size: 62.5%;
	background: url('../img/bg.jpg') top repeat;
}

body {
	font: 1.4em 'Arial', Helvetica, sans-serif;
}

/* -----------------------------------------=Header-----*/

header {
	height: 50px;
	background: rgb(169,3,41); /* Old browsers */
	-webkit-box-shadow: 0px 2px 3px 1px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px 2px 3px 1px #000; /* FF3.5 - 3.6 */
	box-shadow: 0px 2px 3px 1px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	z-index: 101;
}

header h1 {
	width: 100%;
	text-indent: -9999px;
	text-shadow: 1px 1px 1px #fff;
	text-align: center;
}

#logo {
	width: 122px;
	height: 138px;
	text-indent: -9999px;
	margin: -50px auto 20px auto;
	background-image: url('../img/mainLogo.png');
}





.registerPopUp{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	font: 1.1em 'Arial', Helvetica, sans-serif;
}

.ui-dialog{
	-webkit-box-shadow: 0px 0px 50px 10px #4004040;
	-moz-box-shadow: 0px 0px 50px 10px #404040;
	box-shadow: 0px 0px 50px 10px #404040; 
}

.registerPopUp .formSection{
	margin-bottom: 20px;
}

.registerPopUp .formSection input.clientName, .registerPopUp .formSection textarea{
	min-width: 590px;
	max-width: 590px;
	
	max-height: 100px;
	
	color: #707070;
	
	padding: 10px;
	border: 1px solid #404040;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}

.registerPopUp .formSection input#tablePassword{
	width: 385px;
	
	color: #707070;
	
	padding: 13px 10px;
	border: 1px solid #404040;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	margin-left: 5px;
	
	text-align: center;
}

.registerPopUp .formSection .tablePassGen{
	padding: 5px 10px;
}

.ui-dialog .ui-dialog-title{
	font-size: 20px;
}

.ui-buttonset .ui-button{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}

.ui-button-text-only .ui-button-text{
	padding: .7em 1em !important;
}




/* -----------------------------------------=TableContainer-----*/

#buttonContainer {
	width: 960px;
	min-height: 400px;
	margin: 40px auto 80px auto;
	overflow: hidden;
	
	background: url('../img/ajax-loader.gif') 50% 50% no-repeat;
}

#buttonContainer li {
	margin: 10px;
	float: left;
}

.tableButton {
	color: #fff;
	cursor: pointer;
	display: block;
	width: 220px;
	overflow: hidden;
	position:relative;
	height: 160px;
	text-shadow: 1px 1px 1px #888; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
     -moz-border-radius: 12px; /* FF1-3.6 */
          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          -webkit-box-shadow: 1px 1px 4px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 1px 1px 4px 0px #000; /* FF3.5 - 3.6 */
          box-shadow: 1px 1px 4px 0px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.tableNumber, .tableIcon, .tableStatus {
	position: absolute;
}

.tableIcon {
	width: 55px;
	height: 55px;
	text-indent: -9999px;
	right: 10px;
	top: 30px;
	background: url("../img/iconSprite.png") 0px -70px no-repeat;
}

.tableIcon.served {
	background-position: 0px 0px;
}

.tableButton.assistance .tableIcon {
	background-position: 0px -138px;
}

.tableButton .tableNumber {
	font: bold 7em "Arial Black", Arial, sans-serif;
	top: -10px;
	left: 10px;
}

.tableStatus {
	bottom: 2px;
	right: 10px;
	font: bold 1.6em "Arial Black", Arial, sans-serif;
}

.tablePatronsNumber {
	font-size: 1.8em;
}

.tableButton {
	background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(-45deg, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */

}

.tableButton.active {
	background: rgb(236,125,132); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(236,125,132,1) 0%, rgba(218,70,78,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(236,125,132,1)), color-stop(100%,rgba(218,70,78,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(236,125,132,1) 0%,rgba(218,70,78,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(236,125,132,1) 0%,rgba(218,70,78,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(236,125,132,1) 0%,rgba(218,70,78,1) 100%); /* IE10+ */
background: linear-gradient(-45deg, rgba(236,125,132,1) 0%,rgba(218,70,78,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec7d84', endColorstr='#da464e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tableButton.vacant {
	background: rgb(124,233,112); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(124,233,112,1) 0%, rgba(69,180,20,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(124,233,112,1)), color-stop(100%,rgba(69,180,20,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(124,233,112,1) 0%,rgba(69,180,20,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(124,233,112,1) 0%,rgba(69,180,20,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(124,233,112,1) 0%,rgba(69,180,20,1) 100%); /* IE10+ */
background: linear-gradient(-45deg, rgba(124,233,112,1) 0%,rgba(69,180,20,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce970', endColorstr='#45b414',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tableButton.assistance {
	color: #222;
	background: rgb(255,255,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,0,1) 0%, rgba(255,110,2,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,0,1)), color-stop(100%,rgba(255,110,2,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(255,255,0,1) 0%,rgba(255,110,2,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(255,255,0,1) 0%,rgba(255,110,2,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(255,255,0,1) 0%,rgba(255,110,2,1) 100%); /* IE10+ */
background: linear-gradient(-45deg, rgba(255,255,0,1) 0%,rgba(255,110,2,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ff6e02',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* -----------------------------------------=Footer-----*/

footer {
	clear: both;
	height: 22px;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	background: rgb(169,3,41); /* Old browsers */
	-webkit-box-shadow: 0px -2px 3px 1px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0px -2px 3px 1px #000; /* FF3.5 - 3.6 */
	box-shadow: 0px -2px 3px 1px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */

	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

footer p {
	width: 100%;
	color: #fff;
	margin-top: 2px;
	text-align: center;
}




